@media (max-width: 1100px) {
    .sch-call .sch-phone {
        width: 50px;
        height: 50px;
        font-size: 1.2em;
    }
}

@media (max-width: 900px) {
    .sch-call .sch-num a {
        font-size: 1em;
    }
}

@media (max-width: 950px) {
    nav {
        padding: 0 20px;
    }
    .main-menu {
        gap: 10px;
    }
    section {
        padding: 40px 20px;
    }
}

@media (max-width: 780px) {
    .mobile-nav-btn {
        display: block;
    }
    .main-menu {
        display: none;
    }
    .mobile-nav-menu {
        display: block;
    }
}

@media (max-width: 765px) {
    .s-btn-hide {
        display: block;
    }
}

@media (max-width: 640px) {
    .bottom-footer {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 40px 0;
        font-size: 0.8em;
    }
}

@media (max-width: 600px) {
    .top-strip {
        height: 70px;
    }
    .top-strip-right {
        flex-direction: column;
    }
    footer .col-md-5,
    footer .col-md-3 {
        border-bottom: 1px solid #aaaaaa;
    }
}

@media (max-width: 580px) {
    .why-sect-top-curve,
    .why-sect-bottom-curve,
    .why-sect-imgs .row .col-sm-4:nth-child(2),
    .why-sect-imgs .row .col-sm-4:nth-child(3) {
        display: none;
    }
    .why-sect-imgs div {
        width: 100%;
    }
}

@media (max-width: 450px) {
    nav {
        padding: 0 5px;
    }
    .right-btn-contact {
        display: none;
    }
    section {
        padding: 40px 5px;
    }
}

@media (max-width: 400px) {
    .top-strip {
        padding: 0 20px;
    }
    .mobile-nav-menu-inner .mobile-menu-item {
        width: 50px;
        height: 50px;
    }
    .mobile-menu-item .ctn {
        font-size: 8px;
    }
    .mobile-menu-item i {
        font-size: 0.7em;
    }
}

@media (max-width: 350px) {
    .right-btn .btn {
        padding: 8px 12px;
    }
}