@media (max-width: 950px) {
    nav {
        padding: 0 20px;
    }
    .main-menu {
        gap: 10px;
    }
}

@media (max-width: 780px) {
    .mobile-nav-btn {
        display: block;
    }
    .main-menu {
        display: none;
    }
}

@media (max-width: 600px) {
    .top-strip {
        height: 70px;
    }
    .top-strip-right {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    nav {
        padding: 0 5px;
    }
}

@media (max-width: 400px) {
    .top-strip {
        padding: 0 20px;
    }
}

@media (max-width: 350px) {
    .right-btn .btn {
        padding: 8px 12px;
    }
}