* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Vortigra';
    src: url('../fonts/vortigra.woff2') format('woff2'),
        url('../fonts/vortigra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.vortigra {
    font-family: 'Vortigra', sans-serif;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}